PyQt5>=5.15
PyYAML>=6.0
--extra-index-url https://download.pytorch.org/whl/cu121
torch>=2.5.0
opencv-python>=4.8.0
numpy>=1.24.0
scipy>=1.10.0
lightglue @ git+https://github.com/cvg/LightGlue.git
trimesh>=4.0.0
pyopengl>=3.1.0
